body{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
}

*{
    box-sizing: border-box;
}

/* Inicio de Sesión */

.form-wrapper{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 15%;
}

.user-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px #333;
    min-width: 400px;
    height: 400px;
    font-size: 1.3rem;
}

.input__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.input__container input{
    width: 90%;
    height: 40px;
}

.input__container input, label{
    margin-left: 15px;
}

.login-btn{
    width: 90%;
    font-weight: 600;
    font-size: 1.3rem !important;
}

/* Registro */

.regist-form{
    height: 600px;
}

.regist-form-wrapper{
    margin-top: 10%;
}

.regist-exception{
    display: flex !important;
    margin: auto !important;
    width: 300px !important;
    margin-top: 2% !important;
}

/* DASHBOARD */

header{
    box-shadow: 0px 2px 5px #333;
}

nav{
    background-color: #e9ffea !important;
}

.fa-plus{
    font-size: 2rem;
    font-weight: 500;
    color: #dc3545;
}

.dashboard-body{
    background-color: #faffe0;
}

.title__container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-wrap: pretty;
}

h1{
    font-size: 4rem !important;
}

.wrapper{
    background-color: #fff;
}

.sumas-section{
    margin-top: 40px;
    width: 100%;
}

.grid__container{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, max-content);
    gap: 40px;
    margin: auto;
    align-items: center;
}

.suma_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.digitos__container{
    display: flex;
    gap: 6px;
}

.digito{
    font-size: 5rem;
    font-weight: 500;
    width: max-content;
}

.utl_digitos{
    border-bottom: 5px solid #dc3545;
    height: max-content;
}
.message{
    display: flex !important;
    margin: auto !important;
    margin-top: 20px !important;
}


.flex-suma__container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #333;
    height: 300px;
    cursor: pointer;
}

.suma-border__container{
    box-shadow: none !important;
    cursor: default;
}

.simbolo{
    width: max-content;
    font-size: 5rem;
    font-weight: 500;
}

.resuelta{
    color: #458249;
    border-color: #458249 !important;
}

.flex-suma__container.resuelta{
    box-shadow: 0px 0px 6px 6px #458249 !important;
}

.buttons__container{
    display: none;
    gap: 10px;
}

.checked__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 25px;
}

.display-sum__container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0px !important;
    width: 100% !important;
    margin: auto !important;
}

.display-font{
    font-size: 10rem;
}

.btn-volver{
    width: max-content;
    height: max-content;
    border-color: transparent !important;
    margin-left: 400px;
    display: flex;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

.volver__container{
    display: none;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.input-respuesta{
    width: 100px;
    height: 60px;
    font-size: 2.5rem;
    text-align: center;
}

.span__footer{
    color: transparent;
}

.btn-enviar{
    width: 320px;
}

.buttons__container{
    margin-top: 20px;
}

.message__container{
    width: 60%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 2px #333;
    margin: auto;
    background-color: rgb(139, 202, 145);
    display: none;
    justify-content: center;
    align-items: center;
}

.message__container h2{
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: bold;
    text-wrap: pretty;
}

/* EDITAR CUENTA */

.edit-form{
    height: 650px;
}

.edit-form-wrapper{
    margin-top: 7%;
}


/* RESPONSIVE */

@media (max-width: 1324px) {
    .grid__container{
        grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, max-content);
    }
}

@media (max-width: 1109px) {
    .message__container{
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .message__container h2{
        font-size: 2.6rem;
    }
} 


@media (max-width: 804px) {
    .grid__container{
        grid-template-columns: repeat(1, max-content);
        grid-template-rows: repeat(autofill, max-content);
    }

    .checked__container{
        margin-left: 0px;
        margin-right: 40px;
    }
}

@media (max-width: 524px) {
    h1{
        font-size: 2.7rem !important;
    }


    .btn-volver{
        margin-right: 100px;
    }

    .btn-volver{
        margin-left: 350px;
    }

    .wrapper{
        width: 350px;
    }

    .message__container{
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .message__container h2{
        font-size: 2rem;
    }
}