body{
    margin: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

.form-wrapper{
    display: flex;
    margin: auto;
}

.user-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}